@import "tailwindcss";

:root {
    --primary-color: #1c293a;
    --secondary-color: #23354d;
    --tiers-color: white;
}
/* :root {
    --primary-color: #1e2a3a;
    --secondary-color: #253344;
}  */
.default {
    --tiers-color: white;
    --primary-color: #1c293a;
    --secondary-color: #23354d;
}
.light {
    --secondary-color: #1a5570;
    --primary-color: #28292a;
    --tiers-color: black;
}

.dark {
    --primary-color: #0f172a;
    --secondary-color: #1e293b;
    --tiers-color: white;
}

.emerald {
    --primary-color: #064e3b;
    --secondary-color: #10b981;
    --tiers-color: white;
}


.ocean {
    --secondary-color: #0077b6;
    --primary-color: #629199;
    --tiers-color: white;
}

.charcoal {
    --seconadry-color: #2b2d42;
    --primary-color: #454a53;
    --tiers-color: white;
}

.ice {
    --primary-color: #d8f3dc;
    --secondary-color: #52b788;
    --tiers-color: white;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

* {
    font-family: monospace;
    margin: 0;
    padding: 0;
    font: weight 1px !important;
    box-sizing: border-box;
}

@font-face {
    font-family: "digital";
    src: url("../police/ds_digital/DS-DIGI.TTF");
}

@font-face {
    font-family: "quicksand";
    src: url(../Quicksand/static/Quicksand-Medium.ttf);
}

.font-digital {
    font-family: "digital";
}
.tittle{
    font-family: monospace !important;
}
@keyframes storyset {
    0% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(10px);
    }
}

.animate-storyset {
    animation: storyset 3s infinite alternate;
}
.body {
    margin: 0;
    padding: 0;
    background-color: #111827;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.animated-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.animated-text span {
    position: relative;
}

.animated-text span::before {
    content: "";
    color: #38bdf8;
    animation: words 20s infinite;
}

.animated-text span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 120%;
    background-color: #111827;
    border-left: 2px solid #38bdf8;
    right: -8px;
    animation:
        curse 0.8s infinite,
        type 20s steps(14) infinite;
}

@keyframes curse {
    to {
        border-left: 2px solid #111827;
    }
}

@keyframes words {

    0%,
    20% {
        content: "Tapez plus vite";
    }

    21%,
    40% {
        content: "Gagner du temps";
    }

    41%,
    60% {
        content: "Soyez plus productif";
    }

    61%,
    80% {
        content: "Surpassez vos limites";
    }

    81%,
    100% {
        content: "Amusez-vous";
    }
}

@keyframes type {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

.logo {
    width: 90px;
    height: auto;
}

#header-container {
    display: flex;
    flex-direction: row;
    padding-left: 20%;
    gap: 15%;
}
#header-container p{
    font-size: 30px;
    color: white;
    margin-top: 2%;
    margin-left: 5%;
}
#middle-container {
    width: 100%;
}

#side-bar {
    width: 5vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2%;
    background-color: var(--secondary-color);
}

.icon-nav,
.icon-nav-off,
.icon-nav-settings {
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.icon-nav:hover {
    color:#00FFFF;
    transform: scale(1.1);
}

.icon-nav-off:hover {
    color: rgb(255, 55, 55);
    transform: scale(1.15);
    transition: all 0.2s ease-in-out;
}

.icon-nav-settings:hover {
    color: #fbbf24;
    transform: scale(1.15);
    transition: all 0.2s ease-in-out;
}
.flex-grow {
    flex-grow: 2;
}

#nav-bottom-button {
    display: flex;
    flex-direction: column;
    margin-top: 1000%;
}

#card-container-box {
    padding-inline: 8%;
    padding-block: 3%;
    gap: 5%;
}

#card-container {
    width: 40vh;
    height: auto;
    align-items: center;
    padding-block: 5%;
    background-color: var(--secondary-color);
    border-radius: 12px;
    border: 1px solid transparent;
    transition: 0.3s ease-out;
}
#card-container:hover{
    cursor: pointer;
    transform: scale(1.02);
    border: 2px solid #00FFFF;
}

.card-container--items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-inline: 7%;
    padding-bottom: 5%;
}

.card-container--element1,
.card-container--element2,
.card-container--element3,
.card-container--element4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: auto;
    padding-block: 5%;
    margin-inline: 1%;
    background-color: var(--primary-color);
    cursor: pointer;
    border: 2px solid transparent;
    border-bottom: 1px solid white;
    transition: transform 0.3s ease-in-out;
}

.card-container--element1:hover {
    border-color: var(--green);
}

.card-container--element2:hover {
    border: 2px solid var(--orange);
}

.card-container--element3:hover {
    border: 2px solid var(--purple);
}

.card-container--element4:hover {
    border: 2px solid var(--red);
}

.card-container--element1 h1,
.card-container--element2 h1,
.card-container--element3 h1,
.card-container--element4 h1 {
    font-size: 30px;
    font-family: 'Fira Code';
}

.card-container--element1 p,
.card-container--element2 p,
.card-container--element3 p,
.card-container--element4 p {
    font-size: 18px;
    font-weight: 100;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-items1,
.card-items2,
.card-items3,
.card-items4 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    border-radius: 5px;
}

.card-items1 {
    background-color: var(--green);
}

.card-items2 {
    background-color: var(--orange);
}

.card-items3 {
    background-color: var(--purple);
}

.card-items4 {
    background-color: var(--red);
}

.card-subtitle {
    font-size: 15px;
    color: #4caf50;
}

h2 {
    font-size: 20px;
}

.card-container--element--exam1,
.card-container--element--exam2,
.card-container--element--exam3,
.card-container--element--exam4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: auto;
    padding-block: 6%;
    margin-inline: 1%;
    cursor: pointer;
    border: 3px solid transparent;
    transition: border 0.3s ease-in;
}

.card-container--element--exam1 {
    background-color: var(--green);
}

.card-container--element--exam2 {
    background-color: var(--orange);
}

.card-container--element--exam3 {
    background-color: var(--purple);
}

.card-container--element--exam4 {
    background-color: var(--red);
}

.card-container--element--exam1:hover,
.card-container--element--exam2:hover,
.card-container--element--exam3:hover,
.card-container--element--exam4:hover {
    border-color: white;
}

.card-container--element--exam h2 {
    font-size: 20px;
}

.correct {
    color: #34d399;
    /* vert */
}

.incorrect {
    color: #f87171;
    /* rouge */
}

.current {
    text-decoration: underline;
}

.word {
    margin-right: 0.5rem;
    /* ou ce que tu veux */
    display: inline-block;
}

/* debut */

.icon-nav,
.icon-nav-off,
.icon-nav-settings {
    font-size: 2.3rem;
    color: white;
    cursor: pointer;
}
#realbg{
    background-color: var(--primary-color) !important;
}