.reveal span {
    opacity: 0;
    transform: translateY(0.75rem);
    display: inline-block;
    animation: reveal 0.6s ease-out forwards;
}

@keyframes reveal {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation delay pour chaque lettre du h2 */
.reveal span:nth-child(1) {
    animation-delay: 0s;
}
.reveal span:nth-child(2) {
    animation-delay: 0.05s;
}
.reveal span:nth-child(3) {
    animation-delay: 0.1s;
}
.reveal span:nth-child(4) {
    animation-delay: 0.15s;
}
.reveal span:nth-child(5) {
    animation-delay: 0.2s;
}
.reveal span:nth-child(6) {
    animation-delay: 0.25s;
}
.reveal span:nth-child(7) {
    animation-delay: 0.3s;
}
.reveal span:nth-child(8) {
    animation-delay: 0.35s;
}
.reveal span:nth-child(9) {
    animation-delay: 0.4s;
}
.reveal span:nth-child(10) {
    animation-delay: 0.45s;
}
.reveal span:nth-child(11) {
    animation-delay: 0.5s;
}
.reveal span:nth-child(12) {
    animation-delay: 0.55s;
}
.reveal span:nth-child(13) {
    animation-delay: 0.6s;
}
.reveal span:nth-child(14) {
    animation-delay: 0.65s;
}
